{% extends "creator/base.html" %}
{% block titleBlock %}{{ form }}{% endblock titleBlock %}
{% block navbarItems %}
<li class="nav-item">
  <a href="{% url 'creator:edit_form' form.id %}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Edit Form
  </a>
</li>
<li class="nav-item">
  <a href="{% url 'creator:logout_user' %}">
    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Logout
  </a>
</li>
{% endblock navbarItems %}
{% block bodyBlock %}
<div class="center-container">
  <div class="col-sm-12">
    <div class="panel panel-inverse" align="center">
      <div class="panel-body" align="center">
        <h2>Name : {{ form }}</h2>
        <h2><small>Header : {{ form.header_text }}</small></h2>
        <h4>Description : {{ form.body_text }}</h4>
        {% for field in fields %}
            <h3>Question : {{ field.question }}
              <br>
              <small>
                <a href="#">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                    Edit Question
                </a>
              </small>
            </h3>
        {% endfor %}
      </div>
    </div>
    <div class="center-container">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <ol>
              <li>
                <a href="{% url 'creator:create_text_field' form.id %}">Add Text Field</a>
              </li>

                <li>
                  <a href="{% url 'creator:create_numeric_field' form.id %}">Add Numeric Field</a>
                </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock bodyBlock %}
