{% extends "creator/base.html" %}
{% block titleBlock %}{{ form }}{% endblock titleBlock %}
{% block scriptBlock %}
<script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
{% endblock scriptBlock %}
{% block navbarItems %}
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="caret"></span>&nbsp;Add Field</a>
    <ul class="dropdown-menu">
      <li>
        <a href="{% url 'creator:create_date_field' form.id %}">Add a Date Field</a>
      </li>
      <li>
        <a href="{% url 'creator:create_memo_field' form.id %}">Add a Memo Field</a>
      </li>
      <li>
        <a href="{% url 'creator:add_mcq_field' form.id %}">Add a MCQ Field</a>
      </li>
      <li>
        <a href="{% url 'creator:create_numeric_field' form.id %}">Add Numeric Field</a>
      </li>
      <li>
        <a href="{% url 'creator:create_text_field' form.id %}">Add Text Field</a>
      </li>
    </ul>
</li>
<li class="nav-item">
  <a href="{% url 'creator:edit_form' form.id %}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Edit Form
  </a>
</li>
<li class="nav-item">
  <a href="{% url 'creator:logout_user' %}">
    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Logout
  </a>
</li>
{% endblock navbarItems %}
{% block bodyBlock %}
<div class="container-fluid">
  <div class="col-sm-12">
    <div class="panel panel-inverse" align="center">
      <div class="panel-body" align="center">
        <h2>Name : {{ form }}
          <br>
          <small>
            <strong>
            Header : {{ form.header_text }}
            </strong>
          </small>
        </h2>
        <h4>Description : {{ form.body_text }}</h4>
        {% if form.deployed %}
          <a href="{% url 'creator:result' form.id %}">
            View Results
          </a>
        {% endif %}
        {% if fields %}
          {% for field in fields %}
            <h3>
              {% if field.required %}
                <strong>{{ field.question }}</strong>
              {% else %}
                <small>{{ field.question }}</small>
              {% endif %}
              <small>
                  {% if field.get_model_type == 'TextField' %}
                    <a href="{% url 'creator:edit_text_field' field.id %}"/>
                  {% elif field.get_model_type == 'NumericField' %}
                    <a href="{% url 'creator:edit_text_field' field.id %}"/>
                  {% elif field.get_model_type == 'DateField' %}
                    <a href="{% url 'creator:edit_text_field' field.id %}"/>
                  {% elif field.get_model_type == 'MemoField' %}
                    <a href="{% url 'creator:edit_text_field' field.id %}"/>
                  {% elif field.get_model_type == 'MCQField' %}
                    <a href="{% url 'creator:edit_text_field' field.id %}"/>
                  {% endif %}
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                  {% if field.get_model_type == 'TextField' %}
                    <a href="{% url 'creator:delete_text_field' form.id field.id %}"/>
                  {% elif field.get_model_type == 'NumericField' %}
                    <a href="{% url 'creator:delete_numeric_field' form.id field.id %}"/>
                  {% elif field.get_model_type == 'DateField' %}
                    <a href="{% url 'creator:delete_date_field' form.id field.id %}"/>
                  {% elif field.get_model_type == 'MemoField' %}
                    <a href="{% url 'creator:delete_memo_field' form.id field.id %}"/>
                  {% elif field.get_model_type == 'MCQField' %}
                    <a href="{% url 'creator:delete_mcq_field' form.id field.id %}"/>
                  {% endif %}
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;
                </a>
              </small>
            </h3>
        {% endfor %}
            <h5><strong>Questions in Bold are Necessary</strong></h5>
        {% else %}
          <div class="container-fluid">
            <div class="col-sm-2">
              <br>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                  Add a Field
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{% url 'creator:create_date_field' form.id %}">Add a Date Field</a>
                  </li>
                  <li>
                    <a href="{% url 'creator:create_memo_field' form.id %}">Add a Memo Field</a>
                  </li>
                  <li>
                    <a href="{% url 'creator:add_mcq_field' form.id %}">Add a MCQ Field</a>
                  </li>
                  <li>
                    <a href="{% url 'creator:create_numeric_field' form.id %}">Add Numeric Field</a>
                  </li>
                  <li>
                    <a href="{% url 'creator:create_text_field' form.id %}">Add Text Field</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock bodyBlock %}
